@import url(./css/fonts.css);

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Circe', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    padding: 10vh 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 1em 0;
    color: #9fa3ad;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Colored line */
div.colored-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #9ec795, #82a9cc);
    grid-column: 1/5;
}

/* Header */
section#header {
    min-height: 100vh;
}

#header .bg-image {
    position: absolute;
    background: url(./img/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.content-wrap,
.box {
    padding: 0 1.5em;
}

#header h1 {
    padding: 30vh 0 0 0;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

#header p {
    color: #fff;
}

.btn-l {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 2em;
    background: #a3cd8c;
    border-radius: 2em;

    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
}

.btn-m {
    display: inline-block;
    color: #a3cd8c;
    text-decoration: none;
    padding: .5em 2em;
    border-radius: 2em;
    border: 0.1em solid #a3cd8c;
    cursor: pointer;
    white-space: nowrap;
}

a.btn-m img {
    display: inline;
    height: 1em;
    width: 1em;
    vertical-align: sub;
}

a.btn-m p {
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.btn-s {
    color: white;
    padding: 7px 12px;
}

.btn-s:hover {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

/* Navigation */

#nav {
    position: absolute;
    height: 8vh;
    width: 100%;
    z-index: 2;
    vertical-align: middle;
}

#nav div {
    display: flex;
    justify-content: space-between;
}
#nav span {
    padding: 1em 0;

}

span#nav-icon {
    color: red;
    background: white;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
}

/* Main */
main {
    background-image: linear-gradient(#37435d, #49617c, #434e6c, #373f55);
}

/* Sections */
#section-one,
#section-two,
#section-three,
#section-four {
    padding: 5em 0;
    border-bottom: 3px solid #4f647d;
}

td {
    max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-one {
    color: #77a3d7;
}

.td-two {
    color: #9fa3ad;
}

.td-three {
    color: #61b579;
}

h4 {
    margin: 0;
    padding: 0;
}

#section-six {
    height: 50vh;
    position: relative;
}

#section-six .bg-image {
    position: absolute;
    background: url(./img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

/* Form style */

form h2 {
    color: #4a4a4a;
    padding: 0;
}

input,
textarea,
select {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #f4f7fb;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f4f7fb;
}

input[type=submit] {
    width: 100%;
    background-color: #7da3d7;
    color: #fff;
    padding: .5em;
    margin: .5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #598ed8;
}

#section-six .content-wrap {
    height: 50vh;
    padding: 0;
    margin: .5em 0;
    border-radius: 5px;
    background-color: #ffffff;
}

.content-wrap form {
    height: 40vh;
    padding: 0;
    margin: 1.5em;
}

#section-six h2 {
    font-size: 1em;
}

#line-image {
    height: .5em;
    background: url(./img/ribbon.png);
    border-radius: 5px 5px 0 0; 
}



#section-seven {
    height: 50vh;
    background: #373f55;
}

footer {
    border-top: 3px solid #4f647d;
    height: 12vh;
    background: #373f55;
}

.box a {
    display: inline;
    text-decoration: none;
    padding: .5em;
    cursor: pointer;
    color: #fff;
}

.box  p {
    color: #fff;
}

@media(max-width: 699px) {

    .expanded-one {
        display: none;
    }
    .expanded-two {
        display: inline-block;
    }

}

@media(min-width: 700px) {

    .expanded-one {
        display: inline-block;
    }
    .expanded-two {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .content-wrap {
        grid-column: 2/8;
    }

    .box.one {
        grid-column: 2/5;
    }
    .box.two {
        grid-column: 5/8;
    }

    #section-two .box.one {
        grid-column: 2/4;
    }

    #section-two .box.two {
        grid-column: 4/6;
    }

    #section-two .box.three {
        grid-column: 6/8;
    }

}
