@import url(./css/fonts.css);

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Circe',Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

.wrapper {
    padding: 0 10vw;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
    /* font-weight: 800;
    font-size: 40px; */
}
p {
    margin: 0;
    padding: 1em 0;

}

img {
    display: block;
    width: 100;
    height: auto;
}

/* a.btn-l {
    padding: 20px;
    color: white;
    background: #a3cd8c;
    border-radius: 40px;
    font-size: 20px 60px;
    font-weight: bold;
    font-style: normal;
} */


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 8vh;
    width: 78vw;
    z-index: 2;
}
nav div {
    display: flex;
    justify-content: space-between;
}

span#nav-icon {
    color: red;
    background: white;
    border-radius: 10px;
}

/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
}

.btn-s {
    color: white;
    padding: 7px 12px;
}

.btn-s:hover {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
} */

.expanded {
    display: none;
}

/* Header */

section#header {
    height: 100vh;
}

#header .bg-image {
    position: absolute;
    background: url(./img/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#header .content-wrap {
    padding: 0 1.5em;
}

#header h1 {
    padding: 30vh 0 0 0;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-l {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1em 4em;
    background: #a3cd8c;
    border-radius: 2em;
}

div.colored-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient( to right, #9ec795, #82a9cc);
}

/* Main */

main {
    background-image: linear-gradient(#37435d, #49617c, #434e6c, #373f55);
}

/* Sections */

section {
    height: 50vh;
}
/* section:not([id=header]) {
    border-bottom: 3px solid #4f647d;
} */




footer {
    position: static;
    display: flex;
    height: 8vh;
    background: #373f55;
}




/* @media screen and (min-width: 545px) {
    body {
        background-color: red;
    }
} */