@import url(./css/fonts.css);

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Circe', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    padding: 10vh 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 1em 0;
    color: #9fa3ad;
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Colored line */
div.colored-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #9ec795, #82a9cc);
    grid-column: 1/9;
}

/* Header */
section#header {
    min-height: 100vh;
}

#header .bg-image {
    position: absolute;
    background: url(./img/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.content-wrap,
.box {
    padding: 0 1.5em;
}

#header h1 {
    padding: 30vh 0 0 0;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#header p {
    color: #fff;
    text-align: center;
}

/* Navigation */
#nav.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 5vh;
    width: 100%;
    padding: 0;
    position: absolute;
}

#nav .box.one {
    justify-self: start;
    display: inline;
}

#nav .box.two {
    align-self: center;
    justify-self: end;
}

.expanded-one {
    display: none;
}

#nav #logo {
    display: inline;
    height: 100%;
    width: auto;
}

#nav span {
    padding: .5em;
    font-size: .7em;
}

span#nav-icon {
    color: red;
    background: white;
    border-radius: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

/* Main */
main {
    background-image: linear-gradient(#37435d, #49617c, #434e6c, #373f55);
}

/* Sections */
#section-one {
    padding: 5em 0;
}

#section-two p {
    text-align: center;
}

#section-two,
#section-three,
#section-four,
#section-five {
    padding: 5em 0;
    border-top: 3px solid #4f647d;
}

#section-five table {
    border-spacing: 0;
    width: 100%;
}

#section-five td {
    max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #9fa3ad;
    padding: .5em;
    font-weight: 200;
    font-size: .7em;
}

#section-five .td-one {
    color: #77a3d7;
}

#section-five .td-two {
    color: #9fa3ad;
}

#section-five .td-three {
    color: #61b579;
}

#section-five h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

#section-five p {
    padding-top: 0;
}

#section-five .box.one h2 {
    padding-top: 0;
}

#section-six {
    height: 50vh;
    position: relative;
}

#section-six .bg-image {
    position: absolute;
    background: url(./img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

/* Form style */
form h2 {
    color: #4a4a4a;
    padding: 0;
}

input,
textarea,
select {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #f4f7fb;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f4f7fb;
}

input[type=submit] {
    width: 100%;
    background-color: #7da3d7;
    color: #fff;
    padding: .5em;
    margin: .5em 0;
    border: none;
    border-radius: .2em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #598ed8;
}

#section-six .content-wrap {
    height: 50vh;
    padding: 0;
    margin: 2em 0.5em 0;
    border-radius: 5px;
    background-color: #ffffff;
}

.content-wrap form {
    height: 40vh;
    padding: 0;
    margin: 1.5em;
}

#section-six h2 {
    font-size: 1em;
}

#line-image {
    height: .5em;
    background: url(./img/ribbon.png);
    border-radius: 5px 5px 0 0;
}

#section-six .box p {
    color: #fff;
}


#section-seven {
    height: 50vh;
    background: #373f55;
}

#section-seven h2 {
    padding-top: 15vh;
}

footer {
    border-top: 3px solid #4f647d;
    height: 12vh;
    background: #373f55;
    font-size: .9em;
}

footer .box {
    justify-self: center;
    padding: 0;
}

footer .box a {
    display: inline;
    padding: 0.5em;
    color: #fff;
    font-size: .8em;
}

footer p {
    text-align: center;
    padding: 0 0.5em;
}

/* Buttons */
.btn-l {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 2em;
    background: #a3cd8c;
    border-radius: 2em;

    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
}

.btn-l:hover {
    background: #769466;
}

.btn-m {
    display: inline-block;
    text-decoration: none;
    padding: .5em 2em;
    border-radius: 2em;
    border: 0.1em solid #a3cd8c;
    cursor: pointer;
    white-space: nowrap;
}

.btn-m:hover {
    background: #769466;
    border: 0.1em solid #769466;
}

a.btn-m img {
    display: inline;
    height: 1em;
    width: 1em;
    vertical-align: sub;
}

a.btn-m p {
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    color: #a3cd8c;
}

.btn-s {
    color: white;
    padding: 7px 12px;
}

.btn-s:hover {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

@media(max-width: 413px) {
    #section-five td {
        max-width: 4em;
    }

    #section-six .content-wrap {
        height: 55vh;
    }
}

@media(max-width: 699px) {
    .expanded-two {
        display: inline;
    }
    a {
        font-size: 0.8em;
    }
}

@media(min-width: 699px) {
    ul.expanded-one {
        display: inline;
    }

    .expanded-two {
        display: none;
    }

    h2 {
        padding: 0;
    }

    .grid,
    #nav.grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .content-wrap {
        grid-column: 2/8;
    }

    #section-five .box.one,
    footer .box.one {
        grid-column: 2/5;
    }

    #section-five .box.two,
    footer .box.two {
        grid-column: 5/8;
    }

    footer .box {
        padding: 1em 0;
    }

    #nav .box.one {
        grid-column: 2/4;
    }

    #nav .box.two {
        grid-column: 4/8;
        padding: 0;
    }

    #section-one .box.one,
    #section-four .box.one {
        grid-column: 5/8;
        grid-row: 1;
    }

    #section-one .box.two,
    #section-four .box.two {
        grid-column: 2/5;
        grid-row: 1;
    }

    #section-three .box.one {
        grid-column: 2/5;
    }
    #section-three .box.two {
        grid-column: 5/8;
    }

    #section-two .box.one {
        grid-column: 2/4;
    }

    #section-two .box.two {
        grid-column: 4/6;
    }

    #section-two .box.three {
        grid-column: 6/8;
    }

    #section-six .content-wrap {
        grid-column: 3/7;
    }

    #section-six h2 {
        padding: 1.5em 0 1em;
        font-size: 2em;
    }
}

@media(min-width: 1024px) {
    #header .content-wrap,
    #section-seven .content-wrap {
        grid-column: 3/7;
    }

    #nav .box.one {
        grid-column: 2/5;
        justify-items: center;
    }

    #nav .box.two {
        grid-column: 5/8;
    }

    p.expanded-one {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: .8em;
    }
}